<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="29.1" package="com.tresmeiaum.lealhomologacao" android:installLocation="auto" android:versionCode="29">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="Easy Epi Homologacao" android:icon="@drawable/icon">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.tresmeiaum.lealhomologacao.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>